@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

body.hide_header .header {
  transform: translateY(-100%);
}

body.scrolled .header {
  background: black
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Cursor pointer */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #5270d3;
  /* Set the desired background color here */
  mix-blend-mode: difference;
  /* Change the mix-blend-mode to "difference" */
  pointer-events: none;
  z-index: 999999 !important;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  cursor: none !important;
  justify-content: center;
  align-items: center;
}

.custom-cursor:hover {
  color: black;
  /* Set the desired text color here */
}

@media screen and (max-width: 768px) {
  .custom-cursor {
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }
}

a,
li {
  color: inherit;
  text-decoration: none;
  cursor: none;
}


.profil {

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 100%;
    z-index: 2;
    box-shadow: 0 0 20px 20px #1c084f;
  }

  &::before {
    background-color: #1a084e;
  }

  &::after {
    width: 300px;
    height: 300px;
    background-color: #2f1e5f;
    animation: circle 0.8s linear infinite alternate;
  }

  &-icon {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(5);
    display: block;
    width: 16px;
    height: 12px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border: 2px solid;
    border-top: 0;
    margin-top: 20px;
    z-index: 3;

    &::before,
    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
    }

    &::before {
      width: 2px;
      height: 5px;
      top: calc(100% + 1px);
      left: 50%;
      transform: translate(-50%, 0);
    }

    &::after {
      border: 2px solid;
      width: 8px;
      height: 18px;
      left: 50%;
      top: -10px;
      border-radius: 4px;
      transform: translate(-50%, 0);
    }
  }

  &-shadow {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: 1;
    box-shadow: 10px -55px 30px 15px #823ca6, 24px -10px 47px 10px #aab3d2, -21px -25px 97px 10px #5acee3, 51px 5px 17px 10px #1b7d8f, 3px 2px 77px 10px #f30bf5;
    animation: shadow-rotate 1.5s linear infinite;
    transform-origin: center;
  }
}

@keyframes circle-size {
  from {
    width: 250px;
    height: 250px;
  }

  to {
    width: 300px;
    height: 300px;
  }
}


@keyframes shadow-rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}